.container {
  border: none;
  box-shadow: none;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  background: var(--blue-dark);
  border-radius: 8px;
  line-height: 140%;

  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  /* transform: translateY(-50%); */

  transition: all 0.3s;
}

.container:hover {
  background: var(--blue);
}
